* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Merriweather", serif !important;
  max-width: 100%; }

html {
  scroll-behavior: smooth; }

.content__background {
  background: url("../img/endless-constellation.svg");
  background-repeat: repeat;
  background-size: contain; }

.home {
  background-image: url("../img/protruding-squares.svg");
  width: 100%;
  height: calc(100vh + 53px); }
  .home .home__container {
    display: flex;
    width: inherit;
    height: 100vh;
    justify-content: space-between; }
    .home .home__container .home__textContent {
      margin: auto 0 auto 40px;
      padding: 80px 80px;
      background-color: rgba(213, 241, 213, 0.35);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
      animation: fadeInUp 1.3s ease-in-out; }
      .home .home__container .home__textContent .textContent_1 {
        font-size: 27px; }
      .home .home__container .home__textContent .textContent_2 {
        font-size: 75px;
        font-weight: bold; }
      .home .home__container .home__textContent .textContent_3 {
        font-size: 40px; }
        .home .home__container .home__textContent .textContent_3 .text__work {
          color: #7ecb7e;
          font-weight: bold; }
    @media (max-width: 425px) {
      .home .home__container .home__textContent {
        width: 100%;
        margin: 200px 10px 200px 10px;
        padding: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column; }
        .home .home__container .home__textContent .textContent_2 {
          font-size: 45px; }
        .home .home__container .home__textContent .textContent_3 {
          font-size: 30px; } }
    .home .home__container .home__coding {
      height: 75vh;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      width: 40%;
      margin: auto 40px auto 40px; }
      .home .home__container .home__coding .coding__container {
        margin: 20px;
        background: rgba(0, 0, 0, 0.75);
        height: calc(100% - 40px);
        border-radius: 20px; }
        .home .home__container .home__coding .coding__container .coding__space {
          padding: 50px;
          color: white;
          word-spacing: 5px;
          line-height: 2em;
          letter-spacing: 1px; }
          .home .home__container .home__coding .coding__container .coding__space p.comment {
            width: 100%; }
          .home .home__container .home__coding .coding__container .coding__space .comment {
            color: #75715e; }
          .home .home__container .home__coding .coding__container .coding__space .code {
            color: #66d9ef; }
          .home .home__container .home__coding .coding__container .coding__space .class {
            color: #a6e22e; }
          .home .home__container .home__coding .coding__container .coding__space .symbol {
            color: #fff; }
          .home .home__container .home__coding .coding__container .coding__space .statement {
            color: #f92672; }
          .home .home__container .home__coding .coding__container .coding__space .condition {
            color: #fd971f; }
          .home .home__container .home__coding .coding__container .coding__space .method {
            color: #e69f66; }
    @media (max-width: 1024px) {
      .home .home__container .home__coding {
        display: none; } }
  .home .home__menu {
    width: inherit;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 53px;
    background: rgba(126, 203, 126, 0.25);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-bottom: 3px solid #7ecb7e; }
    .home .home__menu .menu__elements {
      display: flex;
      padding-left: 80px; }
      .home .home__menu .menu__elements .menu__element {
        margin: 15px 30px; }
        .home .home__menu .menu__elements .menu__element a {
          color: black;
          transition: 0.3s all ease; }
        .home .home__menu .menu__elements .menu__element a:hover {
          color: green; }

.about {
  width: 100%; }
  .about .about__space {
    background-color: rgba(250, 250, 250, 0.75);
    width: 90%;
    margin: 0 auto;
    border: solid #7ecb7e;
    border-width: 0 3px; }
    .about .about__space .about__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 35px 0; }
      .about .about__space .about__title .title {
        font-size: 50px; }
      .about .about__space .about__title .title__bar {
        height: 4px;
        background-color: #444649;
        width: 70px;
        transition: width 0.3s ease; }
    .about .about__space .about__title:hover .title__bar {
      width: 180px; }
    .about .about__space .about__content {
      margin: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .about .about__space .about__content .content__me {
        width: 100%;
        margin-bottom: 15px; }
        .about .about__space .about__content .content__me img {
          width: 90%;
          margin: 0 auto; }
      .about .about__space .about__content .content__me:hover {
        animation: pulse 0.5s ease; }
      .about .about__space .about__content .content__text {
        margin-left: 50px;
        font-size: 20px;
        font-weight: lighter; }
        .about .about__space .about__content .content__text .button__life {
          text-align: center;
          margin-top: 40px; }
          .about .about__space .about__content .content__text .button__life a {
            padding: 20px 30px;
            color: white;
            background-color: #7ecb7e;
            border-radius: 20px;
            transition: all 0.3s ease; }
          .about .about__space .about__content .content__text .button__life a:hover {
            color: #7ecb7e;
            border: 1px solid #7ecb7e;
            background-color: white; }
    @media (max-width: 768px) {
      .about .about__space .about__content {
        flex-direction: column; }
        .about .about__space .about__content .content__me {
          width: 30%; }
        .about .about__space .about__content .button__life {
          margin-bottom: 30px; } }

.works {
  width: 100%; }
  .works .works__space {
    background-color: rgba(250, 250, 250, 0.75);
    width: 90%;
    margin: 0 auto;
    border: solid #7ecb7e;
    border-width: 0 3px; }
    .works .works__space .works__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 35px 0 50px 0; }
      .works .works__space .works__title .title {
        font-size: 50px; }
      .works .works__space .works__title .title_bar {
        height: 4px;
        background-color: #444649;
        width: 70px;
        transition: width 0.3s ease; }
    .works .works__space .works__title:hover .title_bar {
      width: 180px; }
    .works .works__space .works__content {
      width: 90%;
      margin: 0 auto; }
      .works .works__space .works__content .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
      .works .works__space .works__content .card {
        display: grid;
        margin: 10px 15px;
        width: 300px;
        grid-template-columns: 300px;
        grid-template-rows: 210px 150px 80px;
        grid-template-areas: "image" "text" "stats";
        border-radius: 18px;
        background: white;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        text-align: center; }
        .works .works__space .works__content .card .card-image {
          grid-area: image;
          background: url("../img/protruding-squares.svg");
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          background-size: cover;
          margin: 5px;
          border-radius: 18px; }
        .works .works__space .works__content .card .card-text {
          grid-area: text;
          margin: 25px; }
          .works .works__space .works__content .card .card-text .date {
            color: #ff076e;
            font-size: 13px; }
          .works .works__space .works__content .card .card-text p {
            color: grey;
            font-size: 15px;
            font-weight: 300; }
          .works .works__space .works__content .card .card-text h2 {
            margin-top: 0;
            font-size: 28px; }
        .works .works__space .works__content .card .card-stats {
          grid-area: stats;
          display: flex;
          flex-wrap: nowrap;
          border-radius: 18px;
          margin: 10px; }
          .works .works__space .works__content .card .card-stats .github {
            width: 50%; }
            .works .works__space .works__content .card .card-stats .github img {
              height: 100%; }
          .works .works__space .works__content .card .card-stats .notion {
            width: 50%; }
            .works .works__space .works__content .card .card-stats .notion img {
              height: 100%; }
        .works .works__space .works__content .card .jwt {
          background: url("../img/jwtio-json-web-token.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .socket_io {
          background: url("../img/socket-io.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .marvel {
          background: url("../img/marvel.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .node {
          background: url("../img/nodejs.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .prestashop {
          background: url("../img/prestashop.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .partyfiesta {
          background: url("../img/partyfiesta.png");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .odoo {
          background: url("../img/odoo.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .pokemon {
          background: url("../img/pokemon.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .camera {
          background: url("../img/camera.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .angel {
          background: url("../img/angel.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .draw {
          background: url("../img/draw.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
        .works .works__space .works__content .card .challenges {
          background: url("../img/challenges.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
      .works .works__space .works__content .card:hover {
        animation: pulse 0.5s ease; }
    @media (max-width: 1024px) {
      .works .works__space .works__content {
        width: 100%; }
        .works .works__space .works__content .card {
          width: 250px;
          grid-template-columns: 250px; } }

.soft_skills {
  width: 100%; }
  .soft_skills .skills__space {
    background-color: rgba(250, 250, 250, 0.75);
    width: 90%;
    margin: 0 auto;
    border: solid #7ecb7e;
    border-width: 0 3px; }
    .soft_skills .skills__space .skills__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 35px 0 50px 0; }
      .soft_skills .skills__space .skills__title .title {
        font-size: 50px; }
      .soft_skills .skills__space .skills__title .title_bar {
        height: 4px;
        background-color: #444649;
        width: 70px;
        transition: width 0.3s ease; }
    .soft_skills .skills__space .skills__title:hover .title_bar {
      width: 180px; }
    .soft_skills .skills__space .skills__content {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .soft_skills .skills__space .skills__content .skill {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 125px;
        margin: 20px 40px;
        background-color: #fff;
        padding: 20px;
        border-radius: 18px;
        border: 2px solid #7ecb7e;
        transition: 0.3s all ease; }
        .soft_skills .skills__space .skills__content .skill img {
          width: 100%; }
      .soft_skills .skills__space .skills__content .skill:hover {
        background: #7ecb7e;
        animation: pulse 0.5s ease; }
    @media (max-width: 425px) {
      .soft_skills .skills__space .skills__content .skill {
        margin: 10px 20px; } }

.contact {
  width: 100%; }
  .contact .contact__space {
    background-color: rgba(250, 250, 250, 0.75);
    width: 90%;
    margin: 0 auto;
    border: solid #7ecb7e;
    border-width: 0 3px; }
    .contact .contact__space .contact__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 35px 0 50px 0; }
      .contact .contact__space .contact__title .title {
        font-size: 50px; }
      .contact .contact__space .contact__title .title_bar {
        height: 4px;
        background-color: #444649;
        width: 70px;
        transition: width 0.3s ease; }
    .contact .contact__space .contact__title:hover .title_bar {
      width: 180px; }
    .contact .contact__space .contact__content {
      width: 90%;
      height: 60vh;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around; }
      .contact .contact__space .contact__content .contact__item {
        margin: 15px 30px; }
        .contact .contact__space .contact__content .contact__item .icon {
          width: 150px;
          height: 150px;
          padding: 30px;
          border-radius: 50%;
          border: 1px solid #7ecb7e;
          margin: 5px;
          transition: all 0.3s ease; }
          .contact .contact__space .contact__content .contact__item .icon img {
            width: 100%; }
        .contact .contact__space .contact__content .contact__item .icon:hover {
          background-color: #7ecb7e; }
        .contact .contact__space .contact__content .contact__item .text {
          text-align: center;
          color: grey;
          margin-top: 20px; }
        .contact .contact__space .contact__content .contact__item .text__detail {
          color: #7ecb7e;
          margin-top: 5px;
          text-align: center; }
    @media (max-width: 768px) {
      .contact .contact__space .contact__content {
        height: 100vh; } }
    @media (max-width: 425px) {
      .contact .contact__space .contact__content {
        height: 120vh; } }

.footer {
  width: 100%;
  background-color: rgba(126, 203, 126, 0.75);
  padding: 20px 0; }
  .footer .footer__space {
    text-align: center; }
