* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Merriweather", serif;
  max-width: 1440px; }

.home {
  background-image: url("../img/home_background.jpg");
  width: 100%;
  height: calc(100vh + 53px); }
  .home .home__container {
    display: flex;
    width: inherit;
    height: 100vh; }
    .home .home__container .home__textContent {
      margin: auto 0 auto 40px;
      padding: 80px 80px;
      background-color: rgba(213, 241, 213, 0.35);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
      animation: fadeInUp 1.3s ease-in-out; }
      .home .home__container .home__textContent .textContent_1 {
        font-size: 27px; }
      .home .home__container .home__textContent .textContent_2 {
        font-size: 75px;
        font-weight: bold; }
      .home .home__container .home__textContent .textContent_3 {
        font-size: 40px; }
        .home .home__container .home__textContent .textContent_3 .text__work {
          color: #7ecb7e;
          font-weight: bold; }
    .home .home__container .home__coding {
      height: 75vh;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      width: 40%;
      margin: auto 40px auto 40px; }
      .home .home__container .home__coding .coding__container {
        margin: 20px;
        background: rgba(0, 0, 0, 0.75);
        height: calc(100% - 40px);
        border-radius: 20px; }
        .home .home__container .home__coding .coding__container .coding__space {
          padding: 50px;
          color: white;
          word-spacing: 5px;
          line-height: 2em;
          letter-spacing: 1px; }
          .home .home__container .home__coding .coding__container .coding__space p.comment {
            width: 100%; }
          .home .home__container .home__coding .coding__container .coding__space .comment {
            color: #75715e; }
          .home .home__container .home__coding .coding__container .coding__space .code {
            color: #66d9ef; }
          .home .home__container .home__coding .coding__container .coding__space .class {
            color: #a6e22e; }
          .home .home__container .home__coding .coding__container .coding__space .symbol {
            color: #fff; }
          .home .home__container .home__coding .coding__container .coding__space .statement {
            color: #f92672; }
          .home .home__container .home__coding .coding__container .coding__space .condition {
            color: #fd971f; }
          .home .home__container .home__coding .coding__container .coding__space .method {
            color: #e69f66; }
  .home .home__menu {
    width: inherit;
    height: 53px;
    background: rgba(126, 203, 126, 0.25);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-bottom: 3px solid #7ecb7e; }
    .home .home__menu .menu__elements {
      display: flex;
      padding-left: 80px; }
      .home .home__menu .menu__elements .menu__element {
        margin: 15px 30px; }
        .home .home__menu .menu__elements .menu__element a {
          color: black;
          transition: 0.3s all ease; }
        .home .home__menu .menu__elements .menu__element a:hover {
          color: green; }

.about {
  width: calc(100% - 40%);
  margin: 0 20%; }
  .about .about__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0; }
    .about .about__title .title {
      font-size: 50px; }
    .about .about__title .title__bar {
      height: 4px;
      background-color: #444649;
      width: 70px;
      transition: width 0.3s ease; }
  .about .about__title:hover .title__bar {
    width: 180px; }
  .about .about__content {
    display: flex;
    align-items: center;
    justify-content: center; }
    .about .about__content .content__me {
      width: 100%; }
      .about .about__content .content__me img {
        width: 100%;
        fill: green; }
    .about .about__content .content__me:hover {
      animation: pulse 0.5s ease; }
    .about .about__content .content__text {
      margin-left: 50px;
      font-size: 20px;
      font-weight: lighter; }
