.about {
  width: $full_width;
  .about__space {
    background-color: $background_space;
    width: $partial_width;
    margin: $center_content;
    border: solid $text_green1;
    border-width: 0 3px;
    .about__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 35px 0;
      .title {
        font-size: 50px;
      }
      .title__bar {
        height: $bar_height;
        background-color: $color_bar;
        width: $mini_bar;
        transition: width 0.3s ease;
      }
    }
    .about__title:hover {
      .title__bar {
        width: $full_bar;
      }
    }
    .about__content {
      margin: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      .content__me {
        width: $full_width;
        margin-bottom: 15px;
        img {
          width: $partial_width;
          margin: $center_content;
        }
      }
      .content__me:hover {
        animation: pulse 0.5s ease;
      }
      .content__text {
        margin-left: 50px;
        font-size: 20px;
        font-weight: lighter;
        .button__life {
          text-align: center;
          margin-top: 40px;
          a {
            padding: 20px 30px;
            color: white;
            background-color: $text_green1;
            border-radius: 20px;
            transition: all 0.3s ease;
          }
          a:hover {
            color: $text_green1;
            border: 1px solid $text_green1;
            background-color: white;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .about__content{
        flex-direction: column;
        .content__me{
          width: 30%;
        }
        .button__life{
          margin-bottom: 30px;
        }
      }
    }
  }
}
