.contact {
    width: $full_width;
    .contact__space {
        background-color: $background_space;
        width: $partial_width;
        margin: $center_content;
        border: solid $text_green1;
        border-width: 0 3px;
        .contact__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: $title_padding;
            .title { 
                font-size: 50px;
            }
            .title_bar{
                height: $bar_height;
                background-color: $color_bar;
                width: $mini_bar;
                transition: width 0.3s ease;
            }
        }
        .contact__title:hover{
            .title_bar{
                width: $full_bar;
            }
        }
        .contact__content{
            width: 90%;
            height: 60vh;
            margin: $center_content;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            .contact__item{
                margin: 15px 30px;
                .icon{
                    width: 150px;
                    height: 150px;
                    padding: 30px;
                    border-radius: 50%;
                    border: 1px solid $text_green1;
                    margin: 5px;
                    transition: all 0.3s ease;
                    img{
                        width: $full_width;
                    }
                }
                .icon:hover{
                    background-color: $text_green1;
                }
                .text{
                    text-align: center;
                    color: grey;
                    margin-top: 20px;
                }
                .text__detail{
                    color: $text_green1;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }
        @media (max-width: 768px) {
            .contact__content{
                height: 100vh;
            }
        }
        @media (max-width: 425px) {
            .contact__content{
                height: 120vh;
            }
        }
    }
}