.home {
  background-image: url("../img/protruding-squares.svg");
  width: $full_width;
  height: calc(100vh + 53px);
  .home__container {
    display: flex;
    width: inherit;
    height: 100vh;
    .home__textContent {
      margin: auto $center_content 40px;
      padding: 80px 80px;
      background-color: $background_glass;
      backdrop-filter: blur(5px);
      border-radius: 20px;
      box-shadow: $shadow_card;
      animation: fadeInUp 1.3s ease-in-out;
      .textContent_1 {
        font-size: 27px;
      }
      .textContent_2 {
        font-size: 75px;
        font-weight: bold;
      }
      .textContent_3 {
        font-size: 40px;
        .text__work {
          color: $text_green1;
          font-weight: bold;
        }
      }
    }
    .home__coding {
      height: 75vh;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      width: 40%;
      margin: auto 40px auto 40px;
      .coding__container {
        margin: 20px;
        background: rgba(0, 0, 0, 0.75);
        height: calc(100% - 40px);
        border-radius: 20px;
        .coding__space {
          padding: 50px;
          color: white;
          word-spacing: 5px;
          line-height: 2em;
          letter-spacing: 1px;
          p.comment {
            width: $full_width;
          }
          .comment {
            color: map-get($codes, comment);
          }
          .code {
            color: map-get($codes, code);
          }
          .class {
            color: map-get($codes, class);
          }
          .symbol {
            color: map-get($codes, symbol);
          }
          .statement {
            color: map-get($codes, statement);
          }
          .condition {
            color: map-get($codes, condition);
          }
          .method {
            color: map-get($codes, method);
          }
        }
      }
    }
  }
  .home__menu {
    width: inherit;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 53px;
    background: rgba(126, 203, 126, 0.25);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-bottom: 3px solid $text_green1;
    .menu__elements {
      display: flex;
      padding-left: 80px;
      .menu__element {
        margin: 15px 30px;
        a {
          color: black;
          transition: 0.3s all ease;
        }
        a:hover {
          color: green;
        }
      }
    }
  }
}
