.soft_skills{
    width: $full_width;
    .skills__space{
        background-color: $background_space;
        width: $partial_width;
        margin: $center_content;
        border: solid $text_green1;
        border-width: 0 3px;
        .skills__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: $title_padding;
            .title{
                font-size: 50px;
            }
            .title_bar{
                height: $bar_height;
                background-color: $color_bar;
                width: $mini_bar;
                transition: width 0.3s ease;
            }
        }
        .skills__title:hover{
            .title_bar{
                width: $full_bar;
            }
        }
        .skills__content{
            width: $full_width;
            margin: $center_content;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .skill{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 125px;
                height: 125px;
                margin: 20px 40px;
                background-color: #fff;
                padding: 20px;
                border-radius: 18px;
                border: 2px solid $text_green1;
                transition: 0.3s all ease;
                img{
                    width: $full_width;
                }
            }
            .skill:hover{
                background: $text_green1;
                animation: pulse 0.5s ease;
            }
        }
        @media (max-width: 425px) {
            .skills__content{
                .skill{
                    margin: 10px 20px;
                }
            }
        }
    }
}