$background_glass: rgba(213, 241, 213, 0.35);
$shadow_card: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
$text_green1: #7ecb7e;
$codes: (
  comment: #75715e,
  code: #66d9ef,
  class: #a6e22e,
  symbol: #fff,
  statement: #f92672,
  condition: #fd971f,
  method: #e69f66,
);
$full_width: 100%;
$partial_width: 80%;
